body {
    font-family: din-round, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #CCD5D9;
}

.square {
    border: rgb(0, 0, 0) 1px solid;
}

#game {
    display: flex;
    flex-wrap: wrap;
}

.main-div {
    display: flex;
    flex-direction: row;
}

.game-div {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    height: 100vh;
}

.game {
    height: 80vh;
}

.control-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20vh;
    background-color: #8A9EA6;
    justify-content: space-around;
}

.turnviewer {
    display: flex;
    background-color: #667353;
    padding: 0px 20px;
    border: #667353 solid 3px;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

.Turnsinfo {
    display: flex;
    flex-direction: column;
    right: 32%;
    top: 83%;
    background-color: #667353;
    padding: 0px 20px;
    border: #667353 solid 3px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

.objective {
    display: flex;
    flex-direction: column;
    background-color: #667353;
    padding: 3px 20px;
    border: #667353 solid 3px;
    color: rgb(255, 255, 255);
}

.setings {
    display: flex;
    height: 100%;
    align-items: center;
}

.side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 100vh;
    flex-shrink: 0;
    background-color: #8A9EA6;
}

.button-19 {
    width: 100%;
    background-color: #667353;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button-19:after {
    background-clip: padding-box;
    background-color: #667353;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.button-19:main,
.button-19:focus {
    user-select: auto;
}

.button-19:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.button-19:disabled {
    cursor: auto;
}

.button-19:active {
    border-width: 4px 0 0;
    background: none;
}

.first-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.second-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.third-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}

.speedmeter {
    width: 10rem;
    accent-color: #8A9EA6;
}

#colorPicker {
    width: 100%;
    height: 3.5rem;
    background-color: #667353;
    border-color: #667353;
}

.third-buttons label {
    color: white;
}

.speedmeter {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #667353;
    border: #667353 solid 3px;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    height: 70px;
    width: 350px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.card div {
    color: white;
    margin: 10px;
    display: flex;
    margin: 10px;
    align-items: center;
}

.card div:first-child p {
    margin: 10px;
}

.card p:nth-child(3) {
    color: rgb(255, 255, 255);
    margin-right: 20px;
    display: flex;
    align-items: center;
background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgb(109, 109, 109, 0) 70%);
}

.card p:nth-child(2) {
    color: white;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.lock {
    position: absolute;
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    left: calc(50% - 25px);
}

.card.locked {
    position: relative;
}

.card.locked::before {
    content: '';
    /* Creates an empty pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
    pointer-events: none;
}

.card.locked .lock {
    position: absolute;
    z-index: 2;
}